@import '../base/visually-hidden';
@import '../base/variables';
@import '../base/placeholders';
@import '../base/fonts';
@import './container';
@import './buttons';

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    // display: flex;
    // flex-direction: column;
    min-height: 100vh;




    margin: 0;

    // &.modal-open {
    //     overflow: hidden;
    //     pointer-events: none;
    // }
}

main {
    flex: 1 0 auto;
}


.visually-hidden {
    @extend %visually-hidden;
}