.gallery {
    padding: 40px 0 60px;
    // position: relative;

    @media screen and (min-width: $tablet) {
        padding: 60px 0 80px;
    }
}

.gallery__options {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px !important;

    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px !important;
    }
}

.sortType {


    &__menu {
        @include body-r();
        outline: 0;
        padding: 4px;
        color: $secondary-text-color;
        background-clip: padding-box;
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius: 0.25rem;
    }

    &__label {
        @include body-r();
        color: $secondary-text-color;
        margin-right: 7px;
    }

    &__option {
        @include body-r();
        color: $secondary-text-color;
    }
}


.spinner-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 400px) {
        width: 400px;
    }

    @media screen and (min-width: $desktop) {
        width: 812px;
    }

    @media screen and (min-width: 1600px) {
        width: 1022px;
    }
}

.property-list {

    @media screen and (min-width: $tablet) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-row-gap: 10px;
        row-gap: 10px;
        grid-column-gap: 10px;
        column-gap: 10px;
        align-items: start;
    }

    @media screen and (min-width: 900px) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-row-gap: 20px;
        row-gap: 20px;
        grid-column-gap: 20px;
        column-gap: 20px;
        align-items: start;
    }

    @media screen and (min-width: $desktop) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-row-gap: 30px;
        row-gap: 30px;
        grid-column-gap: 30px;
        column-gap: 30px;
        align-items: start;
    }

    @media screen and (min-width: 1600px) {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-row-gap: 30px;
        row-gap: 30px;
        grid-column-gap: 30px;
        column-gap: 30px;
        align-items: start;
    }
}

.property-card {
    background-color: $white;
    max-width: 420px;
    min-height: 379px;
    border-radius: 12px;
    box-shadow: 0px 1px 4px rgba(24, 26, 32, 0.07);
    overflow: hidden;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: all;

    @media screen and (max-width: 767px) {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }


    &:hover,
    &:focus {
        cursor: pointer;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.property-thumb {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    pointer-events: none;



    background-image: url(/src/images/placeholder.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.property-image {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.property-price {
    @include body-r();
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 3px 12px;
    background-color: #ffffff;
    color: $secondary-text-color;
    border-radius: 6px;
}

.property-content {
    padding: 20px;
    pointer-events: none;
}

.property-title {
    @include h5();
    display: inline-block;
    color: $secondary-text-color;
    margin-bottom: 5px;
}

.property-location {
    @include body-s();
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.property-features {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    min-width: 250px;
    max-width: 300px;
    margin-top: 10px;

    &__item {
        display: flex;
        align-items: center;
        gap: 2px;
    }

    &__value {
        margin-left: 5px;
        color: #787878;
    }
}

.line {
    background-color: #DDDDDD;
    opacity: 1;
    height: 1px;
}

.goBack__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    background-color: $accent-color;
    min-width: 157px;
    border: none;

    &:hover {
        background-color: $accent-color-hover;
        color: $white;
        cursor: pointer;
    }
}

.loadMore__button {
    display: block;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 11px;
    padding-bottom: 11px;
}