.property-details {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 900px) {
        display: flex;
        position: relative;
        gap: 40px;
    }

}

.property-info {
    position: relative;

    @media screen and (min-width: 900px) {
        width: calc((100%-40px) * 0.7);
    }
}

.spinner-container {
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 400px) {
        width: 400px;
    }

    @media screen and (min-width: $desktop) {
        width: 812px;
    }

    @media screen and (min-width: 1600px) {
        width: 1022px;
    }
}

// Content wrapper
.content-wrapper {
    border-radius: 12px;
    margin-top: 30px;
    padding: 30px;
    background-color: $white;

    @media screen and (min-width: $tablet) {
        margin-top: 40px;
        padding: 40px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 812px;
    }

    @media screen and (min-width: 1600px) {
        max-width: 1022px;
    }
}

.content-wrapper__heading {
    @include h4();
    color: $secondary-text-color;
    margin-bottom: 20px;
}

//Property caption
.property-caption {
    margin-bottom: 25px;
}

.text-wrapper {
    display: flex;
    align-items: baseline;

    &--spaced {
        margin-top: 2px;

        @media screen and (min-width: $tablet) {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-top: 0;
        }
    }
}

.property-name {
    @include h4();
    color: $secondary-text-color;

    @media screen and (min-width: $tablet) {
        @include h2();
        color: $secondary-text-color;
    }

}

.property-ref {
    @include body-s();
    color: rgba(0, 0, 0, 0.4);
    margin-left: 10px;

    @media screen and (min-width: $desktop) {
        @include body-r();
        margin-left: 15px;
        color: rgba(0, 0, 0, 0.4);
    }
}

.property-location--details {
    @include body-r();
    color: rgba(0, 0, 0, 0.8);

    @media screen and (min-width: $desktop) {
        @include body-l();
        color: rgba(0, 0, 0, 0.8);
    }
}

.property-price--details {
    @include h4();
    color: $secondary-text-color;
    margin-top: 5px;

    @media screen and (min-width: $tablet) {
        font-size: 25px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 28px;
    }
}

//Photo thumb
.property-photos {
    width: 100%;
    padding-bottom: 55px;
}

.property-photo__item {
    width: 100%;
    height: 300px;
    overflow: hidden;

    @media screen and (min-width: $tablet) {
        height: 400px;
    }

    @media screen and (min-width: $desktop) {
        width: 100%;
        height: 450px;

    }

    &--placeholder {
        background-image: url(/src/images/placeholder.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.property-photo {
    width: 100%;
    height: 100%;

    object-fit: contain;
    object-position: 50% 50%;
}


//Property Overview
.property-features-details {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $tablet) {
        flex-wrap: wrap;
        max-height: 200px;
    }
}

.property-features-details__item {
    display: flex;

    &:not(:last-child) {
        margin-bottom: 15px;

        @media screen and (min-width: $tablet) {
            margin-bottom: 20px;
        }
    }

}

.property-features-details__name {
    @include h4();
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    font-size: 15px;
    color: $secondary-text-color;
}

.property-features-details__value {
    @include body-r();
    margin-top: 2px;
    color: $secondary-text-color;

}

.property-details__icon {
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 1px solid #787878;
    border-radius: 12px;
    color: transparent;
}

// Property Description
.property-description__text {
    @include body-r();
    color: $secondary-text-color;
}

.property-description__container:not(:last-child) {
    margin-bottom: 40px;
}

.property-details__list {
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 100px;
    }
}

.property-details__item {
    @include h4();
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: $secondary-text-color;

    @media screen and (min-width: $tablet) {
        max-width: calc((100% - 40px) / 2);
    }

    &:not(:last-child) {
        margin-bottom: 5px;

        @media screen and (min-width: $tablet) {
            margin-bottom: 8px;
        }
    }
}

.property-details__value {
    @include body-s();
    color: $secondary-text-color;

}

//Property Amenities
.property-amenities__list {
    display: flex;
    flex-direction: column;
}

.property-amenities__item {
    @include body-r();
    display: flex;
    color: $secondary-text-color;

    &:not(:last-child) {
        margin-bottom: 4px;
    }
}

.property-amenities__type {
    flex-basis: calc(100% * 0.4);
    font-weight: bold;

    @media screen and (min-width: $tablet) {
        flex-basis: calc(100% * 0.25);

    }
}

.property-amenities__value {
    flex-basis: calc(100% * 0.6);
    margin-left: 10px;
    white-space: normal;

    @media screen and (min-width: $tablet) {
        flex-basis: calc(100% * 0.75);

    }
}


//Get More Information

.contact-details {
    @media screen and (min-width: 900px) {
        position: sticky;
        top: 0;
        width: calc((100%-40px) * 0.3);
        margin-top: 0;
        height: fit-content;
    }
}

.contact-details__thumb {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $tablet) {
        width: 120px;
        height: 120px;
        margin-right: 50px;
        margin-left: 0;
        margin-bottom: 0;
    }

    @media screen and (min-width: 900px) {
        margin-bottom: 20px;
        margin-right: 0;
    }

    &--text {
        @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        @media screen and (min-width: $desktop) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.contact-details__container {
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    @media screen and (min-width: $desktop) {
        flex-direction: column;
        justify-content: center;
    }
}

.contact-details__image {
    width: 100%;


}

.contacts__agent {
    @include h4();
    font-size: 18px;
    color: $secondary-text-color;
}

.contacts {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.contacts__link {
    @include body-s();
    color: $secondary-text-color;
    display: flex;
    align-items: center;
    transition: fill 250ms $o-animation-timing-function, color 250ms $o-animation-timing-function;


    @media screen and (min-width: $desktop) {
        @include body-r();
        color: $secondary-text-color;
    }

    &:not(:last-child) {
        margin-bottom: 5px;

        @media screen and (min-width: $tablet) {
            margin-bottom: 8px;
        }
    }

    &:hover,
    &:hover>.contacts__icon {
        color: $accent-color;
        fill: $accent-color;
    }
}

.contacts__icon {
    margin-right: 8px;
    fill: #787878;
}