.button{
    padding: 8px 30px;
    font-size: 16px;
    line-height: 24px;
    font-family: $primary-font-family;
    border-radius: 50px;
    border:unset;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
}


.submit-button{
    color: $white;
    background-color: $accent-color;
    border: none;
    position: relative;
  
    &:hover{
      background-color: $accent-color-hover;
      cursor: pointer;
    }
  }
  
  .adv-search-button{
    padding: 8px 15px;
    background-color: inherit;
    border: 2px solid $accent-color;
  }