@import '../base/variables';
@import '../base/placeholders';
@import '../base/fonts';

.header {
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: $white;
    padding-top: 10px;
    padding-bottom: 10px;


    @media screen and (min-width: $tablet) {
        position: fixed;
        z-index: 6;
        padding: 0;
    }

    &--property-list {
        @media screen and (min-width: $tablet) {
            position: static;
        }
    }

    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

.logo {
    width: 65px;

    @media screen and (min-width: $desktop) {
        width: 96px;
        height: 87px;
    }
}

.site-nav {
    display: none;

    @media screen and (min-width: $tablet) {
        display: block;
    }
}

.site-nav__list {
    display: flex;
    flex-direction: row;
}

.site-nav__item {
    @media screen and (min-width: $tablet) {
        position: relative;
        padding-top: 25px;
        padding-bottom: 25px;

        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @media screen and (min-width: $desktop) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.site-nav__link {
    @include body-r();
    text-transform: uppercase;
    font-weight: 600;
    color: $accent-color-hover;
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (min-width: $desktop) {
        &::after {
            content: ' ';
            display: inline-block;

            position: absolute;
            left: 0;
            bottom: 30px;

            width: 100%;
            height: 3px;
            border-radius: 2px;
            background-color: $accent-color-hover;

            transform: scale(0);
            transition: transform 250ms $o-animation-timing-function;
        }

        &:hover::after,
        &:focus::after {
            transform: scale(1);
        }
    }
}