$glsr-white: #fff;
$glsr-gray-100: #f5f5f5;
$glsr-gray-200: #e5e5e5;
$glsr-gray-300: #d4d4d4;
$glsr-gray-400: #a3a3a3;
$glsr-gray-500: #737373;
$glsr-gray-600: #525252;
$glsr-gray-700: #404040;
$glsr-gray-800: #262626;
$glsr-gray-900: #171717;
$glsr-black: #000;
$glsr-blue: #1c64f2;
$glsr-green: #057a55;
$glsr-red: #e02424;
$glsr-yellow: #faca15;

$glsr-input-b: 1px solid ($glsr-gray-400);




$glsr-toggle-shadow-color: rgba(0, 0, 0, .2);


$bc-color: rgba(6, 63, 150, 0.07);
$accent-color: #133B5F;
$accent-color-hover: #22618A;
$primary-font-family: "Roboto Condensed", Sans-serif;
$o-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 360px;
$tablet: 768px;
$desktop: 1200px;