$white: #fff;
$gray-100: #f5f5f5;
$gray-200: #e5e5e5;
$gray-300: #d4d4d4;
$gray-400: #a3a3a3;
$gray-500: #737373;
$gray-600: #525252;
$gray-700: #404040;
$gray-800: #262626;
$gray-900: #171717;
$gray: #666666;
$black: #000;
$blue: #1c64f2;
$green: #057a55;
$red: #e02424;
$yellow: #faca15;

$accent-color-hover: #133B5F;
$accent-color: #22618A;


$secondary-text-color: #3C3C3C;

$toggle-shadow-color: rgba(0, 0, 0, .2);


$bc-color: rgba(6, 63, 150, 0.07);
$secondary-bc-color: rgba(34, 97, 138, 0.8);

$primary-font-family: "Roboto Condensed", Sans-serif;

$o-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$mobile: 360px;
$tablet: 768px;
$desktop: 1200px;